<ion-view view-title="SMS Sender">
    <ion-content></ion-content>
    <ion-tabs class="tabs-stable">
        <ion-tab title="Produsen" ui-sref="app.sender.produsen">
            <ion-nav-view name="sender-produsen">
            </ion-nav-view>
        </ion-tab>
        <ion-tab title="Grosir" ui-sref="app.sender.grosir">
            <ion-nav-view name="sender-grosir">
            </ion-nav-view>
        </ion-tab>
        <ion-tab title="Eceran" ui-sref="app.sender.eceran">
            <ion-nav-view name="sender-eceran">
            </ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>